<script type="text/javascript">
    var item = document.getElementById('change');
    item.innerHTML = "<a class=\"nav-link\" href=\"/users/logout\">Logout</a>";
    item = document.getElementById('register');
    item.innerHTML = "";
</script>

<div class="container">
    <br>
    <h1 class="glow text-center">Azure HealthBot</h1>
    <iframe class="perfect-centering" src="https://healthbotcontainer.azurewebsites.net" width="50%" height="70%" style="border: 2px solid black;iframe:focus {outline:none;};iframe[seamless] {display:block;};background-color:white;margin-top:5%;"></iframe>

</div>
