<div style="width: 640px; height: 480px" id="mapContainer"></div>
<div>
    <% markers.forEach(function (marker) { %>
        <% marker.position.forEach(function(location) { %>
                <p><%= location %></p>
        <% }) %>
    <% }) %>
</div>
<script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script>
    // Initialize the platform object:
    var platform = new H.service.Platform({
    'app_id': 'bFMMgi801IGuJnfUzjxb',
    'app_code': 'FrPQGhVOUUkINKpcke3iTA'
    });
    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();
    // Instantiate (and display) a map object:
    var map = new H.Map(document.getElementById('mapContainer'),maptypes.normal.map,{
      zoom: 13,
      center: { lng: 72.78, lat: 21.16 }
    });

    var svgMarkup = '<svg width="24" height="24" ' +
  'xmlns="http://www.w3.org/2000/svg">' +
  '<rect stroke="white" fill="#1b468d" x="1" y="1" width="22" ' +
  'height="22" /><text x="12" y="18" font-size="12pt" ' +
  'font-family="Arial" font-weight="bold" text-anchor="middle" ' +
  'fill="white">H</text></svg>';

  var svg2 = '<svg width="24" height="24" ' +
'xmlns="http://www.w3.org/2000/svg">' +
'<rect stroke="red" fill="#1b468d" x="1" y="1" width="22" ' +
'height="22" /><text x="12" y="18" font-size="12pt" ' +
'font-family="Arial" font-weight="bold" text-anchor="middle" ' +
'fill="red">A</text></svg>';
    var icon2 = new H.map.Icon(svg2),
    coords = {lat: 21.16, lng: 72.78},
    marker = new H.map.Marker(coords, {icon: icon2});
    map.addObject(marker);
    map.setCenter(coords);
   var icon = new H.map.Icon(svgMarkup),

   <% markers.forEach(function (marker) { %>
       <% for(var i = 0; i < 2; i++) { %>

           coords = {lat: <%= marker.position[i++] %>, lng: <%= marker.position[i] %>},
           marker = new H.map.Marker(coords, {icon: icon});

            // Add the marker to the map and center the map at the location of the marker:
            map.addObject(marker);
            map.setCenter(coords);

   <% } %>
   <% }) %>
   //var group = new H.map.Group();
   //map.setViewBounds(group.getBounds());
   var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

</script>
