<script type="text/javascript">
    var item = document.getElementById('change');
    item.innerHTML = "<a class=\"nav-link\" href=\"/users/logout\">Logout</a>";
    item = document.getElementById('register');
    item.innerHTML = "";
</script>
<div class="container">
    <br>
    <h1 class="glow text-center">Nearby Medical Store</h1>
    <div class="mapouter perfect-centering"><div class="gmap_canvas"><iframe style="margin-top:10%; border:3px solid;" width="600" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=nearby%20medical%20store&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
</div>
